body {background-color: #E38E49;
    font-family: 'Trebuchet MS', Arial, sans-serif;
display: flex;
padding: 20px;
justify-content: center;
align-items: center;
margin: 0;}


h1 {color: #0A3981;
    width: 220px;
}

.gif {height: 400px;}

.name{ 
    position: relative; 
    transform: translateY(-100px);
    animation: dropSpinPulse 4s ease-in-out forwards;
    transform-origin: center;
}

@keyframes dropSpinPulse {
    0% {
      opacity: 0;
      transform: translateY(-100px) rotateY(0) scale(1); /* Start above and invisible */
    }
    15% {
      opacity: 1;
      transform: translateY(0) rotateY(0) scale(1); /* drop*/
    }
    30% {
        opacity: 1;
        transform: translateY(0) rotateY(180deg) scale(1); /* spin 180° */
      }
    45% {
      transform: translateY(0) rotateY(360deg) scale(1); /* complete spin */
    }
    80% {
      transform: translateY(0) rotateY(360deg) scale(1.2); /* continue pulsing */
    }
    100% {
      opacity: 1;
      transform: translateY(0) rotateY(360deg) scale(1); /* return to original position and size */
    }
  }


.textandimages{ flex-direction: column;
max-width: 680px;
margin: 0 auto;}



.body {background-color: #D4EBF8;
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    align-items: center;
justify-content: center;
    }

.images {max-width: 800px;
}

.text {max-width: 700px;}


@media (min-width: 600px) {
    .images { grid-template-columns: repeat(2, 1fr); }}
@media (max-width: 599px) {
    .images { grid-template-columns: 1fr; }}
